In [1]:
import requests
import json
import pprint
import pandas as pd

In [57]:
url = "https://newsapi.org/v2/top-headlines?country=id&q=kpk&apiKey=6a719f66488545cf860668c22518003f"

In [58]:
response = requests.get(url)

In [59]:
data = response.text

In [60]:
datax = json.loads(data)

In [61]:
pprint.pprint(json.dumps(datax, indent = 1))

'{\n "status": "ok",\n "totalResults": 0,\n "articles": []\n}'

In [62]:
articles = datax['articles']

In [63]:
df = pd.DataFrame(articles)
df

Empty DataFrame
Columns: []
Index: []

In [56]:
df.to_csv('coba.csv')